@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f8f9fc;
    color:#333;
}

.container{
    width:85%;
    margin:auto;
}

/* Header */
.header{
    background:white;
    padding:15px 0;
    box-shadow:0 4px 15px rgba(0,0,0,0.05);
}

.nav{
    display:flex;
    justify-content:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
}

/* Hero */
.hero{
    height:65vh;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url('school.jpg') center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero h1{
    font-size:42px;
}

.hero p{
    margin-top:15px;
}

/* Sections */
.section{
    padding:80px 0;
}

.light-bg{
    background:#eef2f7;
}

.flex{
    display:flex;
    align-items:center;
    gap:50px;
}

.reverse{
    flex-direction:row-reverse;
}

.text{
    flex:1;
}

.text h2{
    margin-bottom:15px;
    font-size:30px;
}

.text p{
    line-height:1.6;
}

.image{
    flex:1;
}

.image img{
    width:100%;
    height:350px;
    object-fit:cover;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    transition:0.4s;
}

.image img:hover{
    transform:scale(1.05);
}

/* Gallery */
.center{
    text-align:center;
    margin-bottom:40px;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.gallery img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:15px;
    transition:0.4s;
}

.gallery img:hover{
    transform:scale(1.08);
}

/* Footer */
.footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
    font-size:14px;
}

/* Responsive */
@media(max-width:900px){
    .flex{
        flex-direction:column;
    }

    .hero h1{
        font-size:26px;
    }
}
